registry=https://triali0mvs6.jfrog.io/artifactory/api/npm/todoapp-npm-remote-cache/
//triali0mvs6.jfrog.io/artifactory/api/npm/todoapp-npm-remote-cache/:_authToken=cmVmdGtuOjAxOjE4MDE4Mzg4NjA6cVhkdjdBb0VvZU1HeUtDM1dva1NkdE1DYTlZ
